.hotlist{
	width:100%;
	overflow:hidden;
	border-bottom:1px solid #ccc;
}

.listt{
	width:1032px;
	margin:0 auto;
	margin-top:64px;
	overflow:hidden;
	.card{
		float:left;
		margin:5px;
		cursor: pointer;
	}
}
.page{
	margin:0 auto;
}